@layer base {
  html,
  body,
  #app,
  button {
    font-family: var(--font-custom);
  }

  /** 字体 */
  html {
    user-select: none;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;

    &.hmos {
      --font-custom: 'HarmonyOS_Regular', sans-serif;
    }

    &.lxgw {
      --font-custom: 'LXGW WenKai Screen', sans-serif;
    }

    &.image {
      --card-border: #3d3d3f63;
      --font-second-color: #c6c6c6;
      --card-background: #1b1c20de;
      --card-second-background: #21232ab5;

      .main-nav {
        backdrop-filter: blur(20px);

        &.top {
          backdrop-filter: blur(0);
        }

        @media (max-width: 768px) {
          &.down {
            .nav-center {
              background-color: #1b1c20 !important;
            }
          }
        }
      }

      .loading {
        backdrop-filter: blur(20px);
      }

      .tags-cloud {
        .all-tags {
          &::after {
            display: none;
          }
        }
      }
    }

    /** 代码高亮 */
    &.dark pre code .line span {
      color: var(--shiki-dark) !important;
    }

    /* 全站置灰 */
    &.gray {
      filter: grayscale(100%);
    }
  }

  body {
    @apply text-font-color;
    overflow-inline: hidden;
    background-color: var(--color-site-background);
    transition:
      color 0.3s,
      background-color 0.3s;
    animation: show forwards 0.5s;
  }

  a {
    color: var(--color-font-color);
    text-decoration: none;
    transition: all 0.3s;

    &:hover {
      color: var(--color-theme);
    }
  }

  #app {
    inline-size: 100dvi;
    /* height: 100vh; */
    transition: filter 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

    /* 滚动条 */
    .simplebar-scrollbar {
      &:hover {
        &::before {
          inset-inline-start: 2px;
          background: var(--color-theme);
        }
      }

      &::before {
        inset-inline: 4px 0;
        cursor: pointer;
        background: var(--color-scrollbar-bar);
        transition:
          background 0.3s,
          inset-inline-start 0.3s;
      }
    }

    /* 全局模糊 */
    &.blur {
      filter: blur(20px);
    }
  }

  /** 滚动条 */
  ::-webkit-scrollbar {
    @apply size-1.5;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: var(--color-scrollbar-bar);
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-theme);
  }

  /** 选中文本 */
  ::selection {
    color: #efefef;
    background-color: var(--color-theme);
  }

  /** fancybox */
  .fancybox__container {
    .fancybox__progress {
      background: var(--color-theme) !important;
    }

    .fancybox__thumb {
      &::after {
        border-color: var(--color-theme) !important;
        border-width: 2px !important;
      }
    }
  }

  /** 自定义块样式 */
  .custom-block {
    .custom-block-content {
      p,
      ul,
      ol,
      li {
        color: var(--color-font-color) !important;
      }
    }

    &.info,
    &.warning,
    &.danger,
    &.tip,
    &.summary {
      .custom-block-content {
        p,
        ul,
        ol,
        li {
          color: var(--color-font-color) !important;
        }
      }
    }

    /* 标题颜色保持原样 */
    .custom-block-title {
      color: inherit;
    }
  }
}

@layer components {
  /* 通用卡片 */
  .card {
    @apply bg-card-background border-card-border shadow-xm shadow-border-shadow rounded-2xl border p-3 transition-all duration-300;

    &.hover:hover {
      @apply border-theme shadow-theme-op;
    }
  }

  /* 通用按钮 */
  .btn {
    @apply flex cursor-pointer items-center justify-center gap-2 rounded-lg p-2 transition duration-300 select-none;

    svg {
      @apply size-5;
    }

    &:hover {
      @apply text-card-background;
    }
  }

  /* 通用分割线 */
  .separator {
    @apply bg-card-border h-px w-full;

    &.vertical {
      @apply h-full w-px;
    }
  }
}
