@import "tailwindcss";
@source "../**/*.{ts,tsx,vue,css,scss}";

@custom-variant dark (&:where(.dark, .dark *));

/** 全局颜色变量 */
:root {
  --foreground: #425aef;
  --background: #4259ef0d;
  --site-background: #f7f9fe;
  --card-background: #fff;
  --card-second-background: #f7f7f9;
  --font-color: #363636;
  --font-second-color: #3c3c43cc;
  --card-border: #e3e8f7;
  --border-shadow: #2c2d300c;
  --scrollbar-bar: rgba(60, 60, 67, 0.4);
  --mask-background: rgba(255, 255, 255, 0.6);
  --mask-background-deep: rgba(255, 255, 255, 0.85);
  --mask-inverse-background: rgba(0, 0, 0, 0.08);
  --mask-second-background: rgba(255, 255, 255, 0.45);
  --color-opacity: rgba(255, 255, 255, 0.15);
  --dark-opacity: rgba(255, 255, 255, 0.15);
  --dark-shadow: #0000006e;
  --info: #50bfff;
  --info-gray: #50bfff60;
  --warning: #ffa500;
  --warning-gray: #f7ba2a60;
  --success: #13ce66;
  --success-gray: #13ce6660;
  --error: #ff3842;
  --error-gray: #ff38423b;
  --blue: #0084ff;
  --white: #ffffff40;
  --gray: #999;
  --red: #ff3842;
}

.dark {
  --foreground: #dfac46;
  --background: #f2b94b23;
  --site-background: #18171d;
  --card-background: #1b1c20;
  --card-second-background: #21232a;
  --font-color: #f7f7fa;
  --font-second-color: #a1a2b8;
  --card-border: #3d3d3f;
  --border-shadow: #00000050;
  --scrollbar-bar: rgba(200, 200, 223, 0.4);
  --mask-background: rgba(0, 0, 0, 0.6);
  --mask-background-deep: rgba(0, 0, 0, 0.85);
  --mask-inverse-background: rgba(255, 255, 255, 0.08);
  --mask-second-background: rgba(0, 0, 0, 0.45);
  --color-opacity: rgba(0, 0, 0, 0.15);
}

@theme inline {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-site-background: var(--site-background);
  --color-card-background: var(--card-background);
  --color-card-second-background: var(--card-second-background);
  --color-font-color: var(--font-color);
  --color-font-second-color: var(--font-second-color);
  --color-card-border: var(--card-border);
  --color-border-shadow: var(--border-shadow);
  --color-scrollbar-bar: var(--scrollbar-bar);
  --color-mask-background: var(--mask-background);
  --color-mask-background-deep: var(--mask-background-deep);
  --color-mask-inverse-background: var(--mask-inverse-background);
  --color-mask-second-background: var(--mask-second-background);
  --color-color-opacity: var(--color-opacity);
  --color-dark-opacity: var(--dark-opacity);
  --color-dark-shadow: var(--dark-shadow);
  --color-info: var(--info);
  --color-info-gray: var(--info-gray);
  --color-warning: var(--warning);
  --color-warning-gray: var(--warning-gray);
  --color-success: var(--success);
  --color-success-gray: var(--success-gray);
  --color-error: var(--error);
  --color-error-gray: var(--error-gray);
  --color-blue: var(--blue);
  --color-white: var(--white);
  --color-gray: var(--gray);
  --color-red: var(--red);
  --font-custom: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, "Helvetica Neue", sans-serif;
}

@layer base {
  html,
  body,
  #app {
    @apply !font-custom;
  }
}
