/* 文章内容样式 */
@layer base {
  .markdown-main-style {
    /* 标题 */
    h1 {
      padding-block-end: 1rem;
      margin-block: 1rem;
      font-size: var(--text-2xl);
      text-align: center;
      border-block-end: 1px dashed var(--color-theme-op);

      .header-anchor {
        &::before {
          display: none;
        }
      }
    }

    h2 {
      padding-block-end: 0.5rem;
      margin-block: 0.83em;
      font-size: var(--text-xl);
      line-height: 1.6;
      border-block-end: 1px dashed var(--color-theme-op);
    }

    h3 {
      z-index: 0;
      inline-size: fit-content;
      margin-block: 1em;
      font-size: var(--text-lg);

      &::after {
        position: absolute;
        inset-block-end: 0;
        inset-inline-start: 0;
        z-index: -1;
        inline-size: 100%;
        block-size: 8px;
        content: '';
        background-color: var(--color-card-border);
        border-radius: 3px;
      }
    }

    h4 {
      margin-block: 1.33em;
    }

    h1,
    h2,
    h3,
    h4 {
      position: relative;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        .header-anchor {
          opacity: 100%;
        }
      }
    }

    .header-anchor {
      position: absolute;
      inset-inline-start: 0;
      opacity: 0%;
      transition: opacity 0.3s;

      &::before {
        position: absolute;
        inset-inline-start: -1.3rem;
        font-weight: bold;
        color: var(--color-theme);
        content: '#';
      }
    }

    /* 段落 */
    p,
    ul,
    li,
    td {
      margin: 1rem 0;
      line-height: 2;
      text-align: start;
      letter-spacing: 0.6px;

      /* 行内代码 */
      & code:not(pre > code) {
        padding: 0.2rem 0.4rem;
        margin: 0 0.25rem;
        font-family: 'Fira Code', var(--font-custom), monospace;
        font-weight: 700;
        color: var(--color-red-400);
        background-color: var(--card-second-background);
        border-radius: 0.25rem;
      }

      /* 超链接 */
      a {
        position: relative;
        display: inline-flex;
        color: var(--color-theme);

        &:hover {
          &::before {
            inset-block-end: 0;
            inset-inline: -2px;
            block-size: 100%;
            opacity: 20%;
          }
        }

        &::before {
          position: absolute;
          inset-block-end: 2px;
          inset-inline: 0;
          block-size: 1px;
          content: '';
          background-color: var(--color-theme);
          border-radius: 4px;
          opacity: 80%;
          transition: all 0.3s;
        }
      }

      /* 重点 */
      strong {
        color: var(--color-theme);
      }
    }

    p {
      line-height: 1.7;
    }

    /* 图片 */
    img {
      inline-size: 100%;
    }

    .img-fancybox {
      display: flex;
      flex-direction: column;
      align-items: center;
      inline-size: 100%;
      color: var(--color-font-color);

      .post-img {
        inline-size: auto;
        max-inline-size: 100%;
        max-block-size: 450px;
        margin: 0 auto;
        cursor: zoom-in;
        border-radius: 12px;
        transition:
          opacity 0.3s,
          filter 0.3s;

        &:hover {
          filter: blur(0) brightness(0.8);
        }
      }

      .post-img-tip {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        inline-size: 100%;
        margin: 0.8rem 0;
        font-size: 14px;
        opacity: 60%;
      }

      &:hover {
        color: var(--color-font-color);
      }

      &::before {
        display: none;
      }
    }

    /* 代码块 */
    [class*='language-'] {
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      padding-block-start: 36px;
      margin: 1rem 0;
      overflow: hidden;
      background-color: var(--color-card-background);
      border: 1px solid var(--color-card-border);
      border-radius: 12px;

      .copy,
      .lang {
        position: absolute;
      }

      .lang {
        inset-block-start: 0;
        inset-inline-start: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        inline-size: 100%;
        block-size: 36px;
        padding-inline-start: 16px;
        font-size: 18px;
        font-weight: bold;
        background-color: var(--color-card-second-background);
        border-block-end: 1px solid var(--color-card-border);
      }

      .copy {
        inset-block-start: 0;
        inset-inline-end: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        inline-size: 36px;
        block-size: 36px;
        overflow: hidden;
        font-size: 20px;
        font-style: normal;
        cursor: pointer;
        background-color: transparent;
        border: none;

        svg {
          inline-size: 20px;
          block-size: 20px;
          transition: color 0.3s;
        }

        &.copied {
          &::before {
            opacity: 100%;
            transform: translateX(0);
          }
        }

        &:hover {
          &::before,
          svg {
            color: var(--color-theme);
          }
        }

        &::before {
          position: absolute;
          inset-inline-start: -60px;
          font-size: 14px;
          white-space: nowrap;
          content: '复制成功';
          opacity: 0%;
          transition:
            color 0.3s,
            opacity 0.3s,
            transform 0.3s;
          transform: translateX(5px);
        }
      }

      .line-numbers-wrapper {
        padding: 6px 10px;
        color: var(--color-font-second-color);
        text-align: center;
        user-select: none;
        background-color: var(--color-card-second-background);
        opacity: 60%;

        .line-number {
          display: flex;
          align-items: center;
          justify-content: center;
          block-size: 22px;
          font-size: 14px;
        }

        br {
          display: none;
        }
      }

      pre {
        inline-size: 100%;
        padding: 6px 10px;
        margin: 0;
        overflow-block: auto;
        user-select: text;
        border-inline-start: 1px solid var(--color-card-border);

        code {
          font-family: 'Fira Code', var(--font-custom), monospace;
          font-optical-sizing: auto;

          .line {
            display: inline-block;
            block-size: 22px;

            span {
              color: var(--shiki-light);
              transition: color 0.3s;
            }

            &.highlighted {
              inline-size: 100%;
              background-color: var(--color-card-border);
              border-radius: 6px;
            }

            &:empty {
              block-size: 17px;
            }
          }
        }
      }
    }

    /* blockquote */
    blockquote {
      padding: 2px 16px;
      margin: 1rem 0;
      color: var(--color-font-color);
      text-align: start;
      background-color: var(--color-card-second-background);
      border: 1px solid var(--color-card-border);
      border-inline-start: 8px solid var(--color-card-border);
      border-radius: 4px 8px 8px 4px;

      p {
        margin: 0.5rem 0;
        line-height: 2;
      }
    }

    /* 标点 */
    ul {
      padding-inline-start: 1rem;
      list-style-type: none;

      li {
        position: relative;
        padding-inline-start: 1.2rem;
        margin: 0.6rem 0;
        overflow: auto;

        p {
          &:first-child {
            margin-block-start: 0;
          }

          &:last-child {
            margin-block-end: 0;
          }
        }

        &::before {
          position: absolute;
          inset-block-start: 0.7rem;
          inset-inline-start: 0;
          inline-size: 0.6rem;
          block-size: 0.6rem;
          content: '';
          background-color: var(--color-theme);
          border-radius: 50%;
        }
      }
    }

    ol {
      padding-inline-start: 1rem;
      list-style: none;
      counter-reset: li 0;

      > li {
        position: relative;
        padding: 0.2em 0.2em 0.2em 1.8em;

        &::before {
          inline-size: 1.45em;
          block-size: 1.45em;
          font-size: 0.85em;
          line-height: 1.45em;
          text-align: center;
          content: counter(li);
          counter-increment: li 1;
          border-radius: 0.725em;
        }
      }

      li {
        margin: 0.2rem 0;

        > * {
          &:first-child {
            margin-block-start: 0;
          }

          &:last-child {
            margin-block-end: 0;
          }
        }

        &::before {
          position: absolute;
          inset-block-start: 0.8em;
          inset-inline-start: 0;
          color: #fff;
          cursor: pointer;
          background: #307af6;
          transition: all 0.3s ease-out 0s;
        }
      }
    }

    /* 表格 */
    .table-container {
      inline-size: 100%;
      margin: 1rem 0;
      overflow-block: hidden;
      overflow-inline: auto;
      border: 1px solid var(--color-card-border);
      border-radius: 8px;

      table {
        inline-size: 100%;
        min-inline-size: 512px;
        max-inline-size: 1200px;
        margin: 0 auto;
        border-spacing: 0;
        border-collapse: collapse;

        td,
        th {
          padding: 0.6rem 1rem;
          margin: 0;
          line-height: normal;
          letter-spacing: normal;
          vertical-align: middle;
          border: 1px solid var(--color-card-border);
        }

        thead {
          background-color: var(--color-card-second-background);
        }

        tbody {
          tr {
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
              background-color: var(--color-card-second-background);
            }
          }
        }
      }
    }

    /* 分割线 */
    hr {
      block-size: 2px;
      margin: 1rem 0;
      background-color: var(--color-card-border);
      border: none;
    }

    /* 其他 */
    label {
      cursor: pointer;
    }

    /* mathjax */
    mjx-container {
      padding-block-end: 8px;
      overflow: auto;
      font-family: auto;
    }

    /* custom-block */
    .custom-block {
      padding: 16px;
      padding-inline-start: 12px;
      margin: 1rem 0;
      user-select: none;
      background-color: var(--color-card-border);
      border-inline-start: 6px solid var(--color-gray);
      border-radius: 8px;

      p {
        margin: 0;
        font-size: 0.95rem;
        line-height: normal;

        &.custom-block-title {
          margin-block-end: 6px;
          font-size: 14px;
          font-weight: bold;
        }
      }

      &.tip {
        background-color: var(--color-info-gray);
        border-inline-start-color: var(--color-info);

        p {
          color: var(--color-info);
        }
      }

      &.warning {
        background-color: var(--color-warning-gray);
        border-inline-start-color: var(--color-warning);

        p {
          color: var(--color-warning);
        }
      }

      &.danger {
        background-color: var(--color-error-gray);
        border-inline-start-color: var(--color-error);

        p {
          color: var(--color-error);
        }
      }

      /* details */
      &.details {
        padding: 0;
        overflow: hidden;
        background-color: transparent;
        border: none;
        transition: max-block-size 0.4s ease-in-out;

        summary {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 16px;
          font-weight: bold;
          cursor: pointer;
          background-color: var(--color-card-second-background);
          border: 1px solid var(--color-card-border);
          border-radius: 12px;
          transition:
            color 0.3s,
            border-color 0.3s,
            background-color 0.3s;

          &:hover {
            color: var(--color-card-background);
            background-color: var(--color-theme);
          }

          &::before {
            margin-inline-end: 6px;
            font-family: iconfont;
            font-size: 18px;
            content: '\e057';
            transition: transform 0.3s;
          }

          &::after {
            margin-inline-start: auto;
            content: '+';
          }
        }

        > :last-child {
          padding: 16px;
          font-size: 1rem;
          background-color: var(--color-card-background);
          border: 1px solid var(--color-card-border);
          border-block-start: none;
          border-radius: 0 0 12px 12px;
        }

        &[open] {
          summary {
            color: var(--color-card-background);
            background-color: var(--color-theme);
            border-color: var(--color-theme);
            border-radius: 12px 12px 0 0;

            &::before {
              transform: rotate(90deg);
            }

            &::after {
              content: '-';
            }
          }

          > :last-child {
            border-color: var(--color-theme);
          }
        }

        &:hover {
          summary {
            color: var(--color-card-background);
            background-color: var(--color-theme);
          }
        }
      }
    }

    /* plugin-tabs */
    .plugin-tabs {
      margin: 1rem 0;
      overflow: hidden;
      background-color: var(--color-card-background);
      border: 1px solid var(--color-card-border);
      border-radius: 12px;

      .plugin-tabs--tab-list {
        padding: 0 12px;
        background-color: var(--color-card-second-background);
        border-block-end: 1px solid var(--color-card-border);

        .plugin-tabs--tab {
          padding: 12px 16px;
          margin-inline-end: 12px;
          font-family: var(--font-custom);
          font-size: 16px;
          font-weight: bold;
          line-height: normal;
          cursor: pointer;
          background-color: transparent;
          border: none;
          border-block-end: 2px solid transparent;
          outline: none;
          transition: all 0.3s;

          &[aria-selected='true'] {
            color: var(--color-theme);
            border-block-end-color: var(--color-theme);
          }
        }
      }

      .plugin-tabs--content {
        max-block-size: 500px;
        padding: 1rem;
        overflow: auto;
        animation: show 0.5s forwards;
      }
    }

    /* timeline */
    .timeline {
      position: relative;
      padding: 0 0 1rem 26px;
      cursor: pointer;

      .timeline-title {
        display: inline-block;
        font-size: 14px;
        opacity: 60%;
        transition:
          color 0.3s,
          opacity 0.3s;
        transform: translateY(-2px);
      }

      .timeline-content {
        inline-size: max-content;
        max-inline-size: 80%;
        padding: 1rem;
        margin-block-start: 12px;
        background-color: var(--color-card-second-background);
        border: 1px solid var(--color-card-border);
        border-radius: 2px 12px 12px;

        > :first-child {
          margin-block-start: 0;
        }

        > :last-child {
          margin-block-end: 0;
        }
      }

      &:hover {
        .timeline-title {
          color: var(--color-theme);
          opacity: 100%;
        }

        &::before {
          transform: scale(1.2);
        }
      }

      &::after {
        position: absolute;
        inset-block-start: 7px;
        inset-inline-start: 7px;
        z-index: 0;
        inline-size: 4px;
        block-size: 100%;
        content: '';
        background-color: var(--color-card-border);
        border-radius: 4px;
      }

      &::before {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        z-index: 1;
        inline-size: 14px;
        block-size: 14px;
        content: '';
        background-color: var(--color-card-background);
        border: 2px solid var(--color-theme);
        border-radius: 50%;
        transition: transform 0.3s;
      }
    }

    /* radio */
    .radio {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 1rem 0;

      .radio-point {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        inline-size: 1rem;
        block-size: 1rem;
        margin: 0;
        margin-inline-end: 12px;
        border-radius: 50%;
        outline: 2px solid var(--color-theme);

        &.checked {
          &::after {
            opacity: 100%;
          }
        }

        &::after {
          position: absolute;
          inline-size: 65%;
          block-size: 65%;
          content: '';
          background-color: var(--color-theme);
          border-radius: 50%;
          opacity: 0%;
        }
      }

      p {
        margin: 0;
      }
    }

    /* card */
    .card {
      padding: 1rem 1.2rem;
      background-color: var(--color-card-second-background);
      border-radius: 8px;

      p {
        &:first-child {
          margin-block-start: 0;
        }

        &:last-child {
          margin-block-end: 0;
        }
      }
    }

    /* button */
    .button {
      padding: 6px 16px;
      cursor: pointer;
      background-color: var(--color-card-second-background);
      border: 1px solid var(--color-card-border);
      border-radius: 8px;
      outline: none;
      transition: background-color 0.3s;

      p,
      a {
        padding: 0;
        margin: 0;
        font-size: 1rem;
        color: var(--color-font-color);

        &::before {
          display: none;
        }
      }

      &.primary {
        color: var(--color-card-background);
        background-color: var(--color-theme);
      }

      &:hover {
        background-color: var(--color-card-border);
      }
    }
  }
}
