@import 'tailwindcss';

@source "../**/*.{ts,tsx,vue,css}";

@custom-variant dark (&:where(.dark, .dark *));

/** 全局颜色变量 */
:root {
  --theme: hsl(232deg 84% 60%);
  --theme-op: hsl(232deg 84% 60% / 13.7%);
  --theme-op-deep: hsl(232deg 84% 60% / 86.7%);
  --theme-op-light: hsl(232deg 84% 60% / 5.1%);
  --theme-none: hsl(232deg 84% 60% / 0.4%);
  --site-background: hsl(225deg 80% 98%);
  --card-background: hsl(0deg 0% 100%);
  --card-second-background: hsl(240deg 14% 97%);
  --font-color: hsl(0deg 0% 21%);
  --font-second-color: hsl(240deg 6% 25% / 80%);
  --card-border: hsl(225deg 56% 93%);
  --border-shadow: hsl(225deg 4% 18% / 4.7%);
  --scrollbar-bar: hsl(240deg 6% 25% / 40%);
  --mask-background: hsl(0deg 0% 100% / 60%);
  --mask-background-deep: hsl(0deg 0% 100% / 85%);
  --mask-inverse-background: hsl(0deg 0% 0% / 8%);
  --mask-second-background: hsl(0deg 0% 100% / 45%);
  --opacity: hsl(0deg 0% 100% / 15%);
  --dark-opacity: hsl(0deg 0% 100% / 15%);
  --dark-shadow: hsl(0deg 0% 0% / 43.1%);
  --info: hsl(202deg 100% 66%);
  --info-gray: hsl(202deg 100% 66% / 37.6%);
  --warning: hsl(39deg 100% 50%);
  --warning-gray: hsl(42deg 93% 57% / 37.6%);
  --success: hsl(147deg 83% 44%);
  --success-gray: hsl(147deg 83% 44% / 37.6%);
  --error: hsl(357deg 100% 61%);
  --error-gray: hsl(357deg 100% 61% / 23.1%);
  --blue: hsl(209deg 100% 50%);
  --gray: hsl(0deg 0% 60%);
  --red: hsl(357deg 100% 61%);
}

.dark {
  --theme: hsl(42deg 100% 64%);
  --theme-op: hsl(40deg 87% 62% / 13.7%);
  --theme-op-deep: hsl(40deg 87% 62% / 86.7%);
  --theme-none: hsl(40deg 87% 62% / 0%);
  --site-background: hsl(250deg 12% 10%);
  --card-background: hsl(228deg 8% 12%);
  --card-second-background: hsl(227deg 12% 15%);
  --font-color: hsl(240deg 23% 97%);
  --font-second-color: hsl(237deg 14% 68%);
  --card-border: hsl(240deg 2% 24%);
  --border-shadow: hsl(0deg 0% 0% / 31.4%);
  --scrollbar-bar: hsl(240deg 26% 83% / 40%);
  --mask-background: hsl(0deg 0% 0% / 60%);
  --mask-background-deep: hsl(0deg 0% 0% / 85%);
  --mask-inverse-background: hsl(0deg 0% 100% / 8%);
  --mask-second-background: hsl(0deg 0% 0% / 45%);
  --color-opacity: hsl(0deg 0% 0% / 15%);
}

@theme inline {
  --color-theme: var(--theme);
  --color-theme-op: var(--theme-op);
  --color-theme-op-deep: var(--theme-op-deep);
  --color-theme-op-light: var(--theme-op-deep-light);
  --color-theme-none: var(--theme-none);
  --color-site-background: var(--site-background);
  --color-card-background: var(--card-background);
  --color-card-second-background: var(--card-second-background);
  --color-font-color: var(--font-color);
  --color-font-second-color: var(--font-second-color);
  --color-card-border: var(--card-border);
  --color-border-shadow: var(--border-shadow);
  --color-scrollbar-bar: var(--scrollbar-bar);
  --color-mask-background: var(--mask-background);
  --color-mask-background-deep: var(--mask-background-deep);
  --color-mask-inverse-background: var(--mask-inverse-background);
  --color-mask-second-background: var(--mask-second-background);
  --color-opacity: var(--opacity);
  --color-dark-opacity: var(--dark-opacity);
  --color-dark-shadow: var(--dark-shadow);
  --color-info: var(--info);
  --color-info-gray: var(--info-gray);
  --color-warning: var(--warning);
  --color-warning-gray: var(--warning-gray);
  --color-success: var(--success);
  --color-success-gray: var(--success-gray);
  --color-error: var(--error);
  --color-error-gray: var(--error-gray);
  --color-blue: var(--blue);
  --color-gray: var(--gray);
  --color-red: var(--red);
  --shadow-xm: 0 8px 16px -4px rgb(0 0 0 / 8%);

  --font-custom:
    -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen-sans, ubuntu, cantarell, 'Helvetica Neue', sans-serif;

  --animate-show: show 0.3s backwards;
  --animate-fade-up: fade-up 0.3s backwards;
  --animate-fade-up-opacity: fade-up-opacity 0.3s backwards;
  --animate-fade-down: fade-down 0.3s backwards;
  --animate-fade-left: fade-left 0.3s backwards;
  --animate-loading: loading 0.8s infinite;
  --animate-loading-width: loading-width 0.8s infinite;
  --animate-gradient-flow: gradientflow 2s ease infinite;
  --animate-skeleton-loading: skeleton-loading 1.5s linear infinite;
  --animate-rotate: rotate 1s linear infinite;
  --animate-move-down: movedown 1.5s ease-in-out infinite;

  /* 渐入 */
  @keyframes show {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }

  /* 上浮 */
  @keyframes fade-up {
    from {
      opacity: 0%;
      transform: translateY(20px);
    }

    to {
      opacity: 100%;
      transform: translateY(0);
    }
  }

  @keyframes fade-up-opacity {
    from {
      opacity: 0%;
      transform: translateY(20px);
    }

    to {
      opacity: 80%;
      transform: translateY(0);
    }
  }

  /* 下沉 */
  @keyframes fade-down {
    from {
      opacity: 0%;
      transform: translateY(-50px);
    }

    to {
      opacity: 100%;
      transform: translateY(0);
    }
  }

  /* 左移 */
  @keyframes fade-left {
    from {
      opacity: 0%;
      transform: translateX(10px);
    }

    to {
      opacity: 100%;
      transform: translateX(0);
    }
  }

  /* 加载 */
  @keyframes loading {
    0% {
      opacity: 100%;
    }

    50% {
      opacity: 40%;
    }

    100% {
      opacity: 100%;
    }
  }

  /* 进度 */
  @keyframes loading-width {
    0% {
      inline-size: 0%;
    }

    100% {
      inline-size: 100%;
    }
  }

  /* 渐变 */
  @keyframes gradientFlow {
    0%,
    100% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }
  }

  /* 骨架屏加载 */
  @keyframes skeleton-loading {
    0% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }

  /* 旋转 */
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  /* 循环下沉 */
  @keyframes moveDown {
    0%,
    100% {
      inset-block-end: 30px;
    }

    50% {
      inset-block-end: 60px;
    }
  }
}
