.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0
}

[data-tippy-root] {
  max-width: calc(100vw - 10px)
}

.tippy-box {
  position: relative;
  background-color: var(--color-mask-background-deep);
  border-radius: .75rem;
  font-size: 14px;
  color: var(--color-font-color);
  backdrop-filter: blur(10px);
  border: 1px solid var(--color-card-border);
  line-height: 1.3;
  white-space: pre-wrap;
  word-wrap: break-word;
  outline: 0;
  padding: .5rem .75rem;
  box-shadow: 0 8px 16px -4px var(--color-border-shadow);
  transition-property: transform, visibility, opacity
}

.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11)
}

.tippy-content {
  position: relative;
  z-index: 1
}

.tippy-box[data-placement^=top]>.tippy-backdrop {
  transform-origin: 0 25%;
  border-radius: 40% 40% 0 0
}

.tippy-box[data-placement^=top]>.tippy-backdrop[data-state=visible] {
  transform: scale(1) translate(-50%, -55%)
}

.tippy-box[data-placement^=top]>.tippy-backdrop[data-state=hidden] {
  transform: scale(.2) translate(-50%, -45%)
}

.tippy-box[data-placement^=bottom]>.tippy-backdrop {
  transform-origin: 0 -50%;
  border-radius: 0 0 30% 30%
}

.tippy-box[data-placement^=bottom]>.tippy-backdrop[data-state=visible] {
  transform: scale(1) translate(-50%, -45%)
}

.tippy-box[data-placement^=bottom]>.tippy-backdrop[data-state=hidden] {
  transform: scale(.2) translate(-50%)
}

.tippy-box[data-placement^=left]>.tippy-backdrop {
  transform-origin: 50% 0;
  border-radius: 50% 0 0 50%
}

.tippy-box[data-placement^=left]>.tippy-backdrop[data-state=visible] {
  transform: scale(1) translate(-50%, -50%)
}

.tippy-box[data-placement^=left]>.tippy-backdrop[data-state=hidden] {
  transform: scale(.2) translate(-75%, -50%)
}

.tippy-box[data-placement^=right]>.tippy-backdrop {
  transform-origin: -50% 0;
  border-radius: 0 50% 50% 0
}

.tippy-box[data-placement^=right]>.tippy-backdrop[data-state=visible] {
  transform: scale(1) translate(-50%, -50%)
}

.tippy-box[data-placement^=right]>.tippy-backdrop[data-state=hidden] {
  transform: scale(.2) translate(-25%, -50%)
}

.tippy-backdrop {
  position: absolute;
  width: calc(110% + 32px);
  left: 50%;
  top: 50%;
  z-index: -1;
  transition: all cubic-bezier(.46, .1, .52, .98);
  backface-visibility: hidden
}

.tippy-backdrop[data-state=hidden] {
  opacity: 0
}

.tippy-backdrop:after {
  content: "";
  float: left;
  padding-top: 100%
}

.tippy-backdrop+.tippy-content {
  transition-property: opacity;
  will-change: opacity
}

.tippy-backdrop+.tippy-content[data-state=hidden] {
  opacity: 0
}

.tippy-box[data-animation=shift-away][data-state=hidden] {
  opacity: 0
}

.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=top] {
  transform: translateY(10px)
}

.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=bottom] {
  transform: translateY(-10px)
}

.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=left] {
  transform: translateX(10px)
}

.tippy-box[data-animation=shift-away][data-state=hidden][data-placement^=right] {
  transform: translateX(-10px)
}